.header
{
    min-width: 300px;
    min-width: 545px;

    .header-up
    {
        padding: 25px 5% 0;
        padding: 25px 80px 0;
    }
}

.phone-section
{
    min-width: 300px;
    max-width: 545px;

    .right-box
    {
        min-width: 300px;
        max-width: 545px;

        img
        {
            width: 100%;
            width: 80%;
        }
    }
}

.contact-section
{
    min-width: 300px;
    max-width: 545px;
}

.footer
{
    min-width: 300px;
    max-width: 545px;
}

@media (max-width: 1000px)
{
    .about-container{

        .slider-content{
        
            div{
            
                .right50{
                    width: 100%;
                    align-items: center;
                    justify-content: initial;
                    padding-left: 5%;
                    padding-right: 5%;
        
                    .right-content {
                        width: 100%;
                        // padding: 0 5%;

                        .user-info {
                            justify-content: center;
                        }
                    }
                } 
            } 
        } 
    }
}

@media (max-width: 800px) {
    .phone-section {
        padding-top: 10%;
        height: auto;
        flex-direction: column;
        justify-content: center;

        .right-box {
            width: 100%;
        }
    }
}